*.ipynb
*.pyc
BBDD/krakenTrader.rar
BBDD/krakenTrader.db
DOCS/registration docs/20171127_002758.jpg
DOCS/registration docs/20171127_001804.jpg
DOCS/registration docs/ced009.jpg
DOCS/registration docs/ced008.jpg
BBDD/sqlitestudio-3.1.1.zip
StarMarquetBalance.bat
DOCS/~$Pendientes Trader Prod.xlsx
